<header>
  <nav
    class="navbar hero navbar-expand-lg bg-light py-3 px-2 rounded-4 backdrop-blur"
  >
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
        <img src="assets/images/logo.png" alt="logo" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item fw-bold">
            <a class="nav-link active" aria-current="page" routerLink="/"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/"
              >Dubai Freezones</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/"
              >Media center</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/"
              >Contact us</a
            >
          </li>
        </ul>
        <app-nav-actions></app-nav-actions>
      </div>
    </div>
  </nav>
</header>
