<section class="hero-gradient overflow-hidden">
  <div class="hero">
    <div>
      <div class="building overflow-hidden">
        <img src="/assets/images/buildings.png" alt="building" />
        <div class="building-reverse">
          <img src="/assets/images/buidlign-reverse.png" alt="building" />
        </div>
      </div>

      <img src="/assets/images/color-effect.png" />
    </div>
  </div>
  <div class="text-overlay">
    <h1 class="d-flex flex-column align-items-center fw-bold lh-1">
      Setup your business in
      <span style="font-size: 11.25rem">DUBAI</span>
    </h1>

    <div
      class="d-flex justify-content-center flex-column gap-3 align-items-center"
    >
      <h3 style="word-spacing: 4px" class="fs-1">
        With the Freezone of your choice
      </h3>
      <button type="button" class="secondary-get-started text-black">
        Get started
      </button>
    </div>
  </div>
</section>
<section class="intro position-relative">
  <h1 class="text-white fw-bold">Why Dubai ?</h1>
  <div class="text-end p-4 position-absolute end-0">
    <img src="/assets/images/sun.png" alt="sun" />
  </div>
  <div class="cards mx-auto d-flex gap-4" style="width: 90%">
    <div class="card-freezone">
      <p class="text-white fs-3 ms-5 fw-bold">26 Freezones</p>
      <div><img src="/assets/images/freezone.png" alt="roads" /></div>
    </div>
    <div
      class="card-freezone p-4"
      style="background: linear-gradient(#ac89b3, #676ab3); color: #ecdbf3"
    >
      <p class="fs-4">
        <span><i class="bi bi-check-circle"></i></span> Stable And Secure
        Economy
      </p>
    </div>
    <div class="d-flex flex-column gap-4">
      <div class="small-card text-white d-flex flex-column gap-2 ps-5 pt-5">
        <span class="fs-2">$18.4B</span>
        <span class="fs-5">Annual Budge</span>
      </div>
      <div class="small-card text-white d-flex flex-column gap-2 ps-5 pt-5">
        <span class="fs-2">3.56%</span>
        <span class="fs-5">GDP</span>
      </div>
    </div>
  </div>

  <div class="forest"></div>
</section>
<div class="mt-5"><app-todo></app-todo></div>
